<template>
	<div class="row">
		<div class="col-sm-12">
			<h1>Domains Dashboard</h1>
		</div>
		<div class="col-sm-12">
			<b-button variant="success" :to="{ name : 'new_domain'}">New</b-button>
		</div>

		<div class="col-sm-12">
			<Domains></Domains>
		</div>
	</div>
</template>

<script>
    import Domains from '../components/Domains'

    export default {
        name      : "Dashboard",
        components: {
            Domains
        }
    }
</script>

<style scoped>

</style>
