<template>
	<div>
		<form autocomplete="off" @submit.prevent="submit" method="post">
			<div class="form-group">
				<label for="address">Address</label>
				<input type="text" id="address" class="form-control" v-model="domain.address" required>
			</div>
			<div class="form-group">
				<label for="serial-number">Serial Number</label>
				<input type="text" id="serial-number" class="form-control" v-model="domain.serial_number" required>
			</div>
			<div class="form-group">
				<label for="refresh">Refresh</label>
				<input type="text" id="refresh" class="form-control" v-model="domain.refresh" required>
			</div>
			<div class="form-group">
				<label for="retry">Retry</label>
				<input type="text" id="retry" class="form-control" v-model="domain.retry" required>
			</div>
			<div class="form-group">
				<label for="expire">Expire</label>
				<input type="text" id="expire" class="form-control" v-model="domain.expire" required>
			</div>
			<div class="form-group">
				<label for="default-ttl">Default TTL</label>
				<input type="text" id="default-ttl" class="form-control" v-model="domain.default_ttl" required>
			</div>
			<button type="submit" class="btn btn-success">Save</button>
		</form>
	</div>
</template>

<script>
    export default {
        name: "DomainForm",
        data() {
            return {
                domain: {}
            };
        },
        mounted() {
            this.loadContent();
        },

        methods: {
            loadContent() {
                let id   = this.$route.params.id;
                let comp = this;

                if (!id) {
                    return;
                }

                this.$http.get('domain/' + id)
                    .then(response => {
                        comp.domain = response.data
                    })
            },

            submit() {
                let id   = this.$route.params.id;
                let request;
                let data = {
                    address      : this.domain.address,
                    serial_number: this.domain.serial_number,
                    refresh      : this.domain.refresh,
                    retry        : this.domain.retry,
                    expire       : this.domain.expire,
                    default_ttl  : this.domain.default_ttl,
                };

                if (id) {
                    request = this.$http.put('domain/' + id, data)
                } else {
                    request = this.$http.post('domain', data)
                }

                request.then(response => {
                    this.$router.push({path: '/dashboard'})
                })
            }
        }
    }
</script>

<style scoped>

</style>
