<template>
	<div class="row">
		<div class="col-sm-12">
			<b-button variant="info" :to="{ name : 'domain_records_import'}">Import</b-button>
			<b-button variant="primary" @click="exportRecords()">Export</b-button>
		</div>
		<div class="col-sm-12">
			<b-table striped hover :items="items" :fields="fields">
			</b-table>
		</div>
	</div>
</template>

<script>
    export default {
        name: "Records",
        data() {
            return {
                fields: [
                    'sub_domain',
                    'type',
                    'value',
                ],
                items : []
            }
        },

        mounted() {
            let id = this.$route.params.id;

            if (!id) {
                return;
            }

            this.$http.get('domain/' + id + '/record')
                .then(response => {
                    this.items = response.data.data
                })
        },

        methods: {
            exportRecords() {
                let id = this.$route.params.id;

                if (!id) {
                    return;
                }

                this.$http.get('domain/' + id + '/record/export')
                    .then(response => {
                        let blob = new Blob([response.data], {
                                type    : response.headers['content-type'],
                            }),
                            url  = window.URL.createObjectURL(blob)

                        window.open(url)
                    })
            }

        }
    }
</script>

<style scoped>

</style>
