<template>
	<form autocomplete="off" @submit.prevent="submit" method="post">
		<!-- Styled -->
		<b-form-file
				v-model="file"
				:state="Boolean(file)"
				placeholder="Choose a file..."
				drop-placeholder="Drop file here..."
				@change="onFileChange($event)"
		/>

		<!--<input type="file" v-on:change="onFileChange" class="form-control">-->

		<button type="submit" class="btn btn-success" style="margin-top: 30px">Import</button>
	</form>
</template>

<script>
    export default {
        name: "RecordImport",
        data() {
            return {
                file: null,
            }
        },

        methods: {
            submit() {
                let id       = this.$route.params.id;
                let formData = new FormData();
                formData.append('file', this.file);

                this.$http.post(
                    'domain/' + id + '/record/import',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                )
                    .then(response => {
                        this.$router.push({name: 'domain_records'})
                    })
            },
        }
    }
</script>

<style scoped>

</style>
