<template>
	<b-table striped hover :items="items" :fields="fields">
		<template slot="actions" slot-scope="row">
			<b-button size="sm" :to="{ path: '/dashboard/domain/' + row.item.id }" class="mr-1" exact variant="info">
				Edit
			</b-button>
			<b-button size="sm" :to="{ path: '/dashboard/domain/' + row.item.id + '/records' }" class="mr-1" exact
					  variant="primary">
				Records
			</b-button>
			<b-button size="sm" class="mr-1" variant="danger" @click="deleteDomain(row.item.id)">
				Delete
			</b-button>
		</template>
	</b-table>
</template>

<script>
    export default {
        name   : "Domains",
        data() {
            return {
                fields: [
                    'address',
                    'serial_number',
                    'refresh',
                    'retry',
                    'expire',
                    {key: 'default_ttl', label: 'Default TTL'},
                    'actions'
                ],
                items : []
            }
        },
        mounted() {
            this.loadContent();
        },
        methods: {
            deleteDomain(id) {
                this.$http.delete('domain/' + id)
                    .then(response => {
                        this.loadContent();
                    })
            },
            loadContent() {
                this.$http.get('domain')
                    .then(response => {
                        this.items = response.data.data
                    })
            }
        }
    }
</script>

<style scoped>

</style>
